%h1= site_title
%p
  このサイトでは『
  %a{:href => "http://www.sssloxia.jp/index.html", :target => "_blank"} Secret Sphere
  』を解析して得られる情報を扱っています。
%br
%p= top_text(@latest_result, @latest_generate, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul
            %li= link_to "プロフィール一覧", profiles_path
            %li= link_to "ステータス一覧", statuses_path
      .col-md-6
        %ul
          %li 結果データ

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 20--/-/-
      %ul
        %li サイト公開
