%p.formNum
  数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
  %br
  「100~」で100以上、「~100」で100以下、「-200~100」で-200～100の範囲指定となります。
%p.formText
  「エレメント」と入力　→　エレメント：ファイア、エレメント：ウォータ、エレメント：エア……が検索結果にヒット
  %br
  「"エレメント"」　→　完全一致で「エレメント」のみ検索結果にヒット
  %br
  「-エレメント」　→　「エレメント」の単語を含まない目的が検索結果にヒット
  %br
  「-"エレメント"」　→　完全一致で「エレメント」以外が検索結果にヒット
  %br
  「エレメント サモン」　→　「エレメント」と「サモン」の2つの単語が含まれるものが検索結果にヒット
  %br
  「エレメント/サモン」　→　「エレメント」か「サモン」のどちらかの単語が含まれるものが検索結果にヒット
  %br
  「エレメント ファイア/ウォータ」　→　「エレメント」が含まれ、さらに 「ファイア」か「ウォータ」 が含まれるものが検索結果にヒット
  %br
  「-エレメント -サモン」　→　「エレメント」もしくは「サモン」という単語が含まれるものを検索結果から除外
